In [1]:
import pandas as pd

from main import equalize

In [2]:
df = pd.read_csv("example.csv")
df.head()

       company   body-style  length engine-type  avg-mileage
0  alfa-romero  convertible   168.8        dohc           21
1  alfa-romero    hatchback   171.2        ohcv           19
2         audi        sedan   176.6         ohc           24
3         audi        sedan   176.6         ohc           18
4         audi        sedan   177.3         ohc           19

In [8]:
# this function allows you to get equal count of strings inside the dataframe by columns which you state
new_df = equalize(df, columns_name = ['company'], random_state=1)

top-5 rows:
   company body-style  length engine-type  avg-mileage
39  nissan      sedan   165.3         ohc           45
41  nissan      sedan   165.3         ohc           31
2     audi      sedan   176.6         ohc           24
48  toyota  hatchback   158.7         ohc           31
50  toyota      wagon   169.7         ohc           31

d:\Python Projects\stratify\main.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stratified_df.drop('rolling', axis = 1, inplace = True)