In [1]:
import pandas as pd

from main import equalize, row_number

In [2]:
df = pd.read_csv("example.csv")
df.head()

       company   body-style  length engine-type  avg-mileage
0  alfa-romero  convertible   168.8        dohc           21
1  alfa-romero    hatchback   171.2        ohcv           19
2         audi        sedan   176.6         ohc           24
3         audi        sedan   176.6         ohc           18
4         audi        sedan   177.3         ohc           19

In [13]:
# row_number allows you to create number sequence inside window with sorting clause, readmore: https://learn.microsoft.com/ru-ru/SQL/t-sql/functions/row-number-transact-sql?view=sql-server-ver16
row_number(df, partition_by=['company'], order_by=list(df.columns), ascending=True)

          company   body-style  length engine-type  avg-mileage  row_number
0     alfa-romero  convertible   168.8        dohc           21           1
1     alfa-romero    hatchback   171.2        ohcv           19           2
3            audi        sedan   176.6         ohc           18           1
2            audi        sedan   176.6         ohc           24           2
4            audi        sedan   177.3         ohc           19           3
5            audi        wagon   192.7         ohc           19           4
8             bmw        sedan   176.8         ohc           21           1
6             bmw        sedan   176.8         ohc           23           2
7             bmw        sedan   176.8         ohc           23           3
9             bmw        sedan   189.0         ohc           16           4
10            bmw        sedan   193.8         ohc           16           5
11            bmw        sedan   197.0         ohc           15           6
12      chevrolet    hatchback   141.1         ohc           47           1
13      chevrolet    hatchback   155.9         ohc           38           2
14      chevrolet        sedan   158.8         ohc           38           3
16          dodge    hatchback   157.3         ohc           31           1
15          dodge    hatchback   157.3         ohc           31           2
19          honda        sedan   169.1         ohc           25           1
18          honda        sedan   175.4         ohc           24           2
17          honda        wagon   157.1         ohc           30           3
21          isuzu        sedan   155.9         ohc           38           1
22          isuzu        sedan   155.9         ohc           38           2
20          isuzu        sedan   170.7         ohc           24           3
25         jaguar        sedan   191.7        ohcv           13           1
23         jaguar        sedan   199.6        dohc           15           2
24         jaguar        sedan   199.6        dohc           15           3
26          mazda    hatchback   159.1         ohc           30           1
27          mazda    hatchback   159.1         ohc           31           2
28          mazda    hatchback   159.1         ohc           31           3
29          mazda    hatchback   169.0       rotor           17           4
30          mazda        sedan   175.0         ohc           31           5
34  mercedes-benz      hardtop   199.2        ohcv           14           1
31  mercedes-benz        sedan   190.9         ohc           22           2
33  mercedes-benz        sedan   208.1        ohcv           14           3
32  mercedes-benz        wagon   190.9         ohc           22           4
36     mitsubishi    hatchback   157.3         ohc           31           1
35     mitsubishi    hatchback   157.3         ohc           37           2
37     mitsubishi        sedan   172.4         ohc           25           3
38     mitsubishi        sedan   172.4         ohc           25           4
40         nissan        sedan   165.3         ohc           31           1
41         nissan        sedan   165.3         ohc           31           2
39         nissan        sedan   165.3         ohc           45           3
43         nissan        sedan   184.6        ohcv           19           4
42         nissan        wagon   170.2         ohc           31           5
45        porsche  convertible   168.9        ohcf           17           1
44        porsche      hardtop   168.9        ohcf           17           2
46        porsche    hatchback   175.7       dohcv           17           3
48         toyota    hatchback   158.7         ohc           31           1
49         toyota    hatchback   158.7         ohc           31           2
47         toyota    hatchback   158.7         ohc           35           3
51         toyota        wagon   169.7         ohc           27           4
52         toyota        wagon   169.7         ohc           27           5
50         toyota        wagon   169.7         ohc           31           6
53         toyota        wagon   187.8        dohc           19           7
57     volkswagen        sedan   171.7         ohc           26           1
55     volkswagen        sedan   171.7         ohc           27           2
54     volkswagen        sedan   171.7         ohc           37           3
56     volkswagen        sedan   171.7         ohc           37           4
58          volvo        sedan   188.8         ohc           23           1
59          volvo        wagon   188.8         ohc           23           2

In [12]:
# this function allows you to get equal count of strings inside the dataframe by columns which you state
new_df = equalize(df, columns_name = ['company','engine-type'])

top-5 rows:
        company   body-style  length engine-type  avg-mileage
0   alfa-romero  convertible   168.8        dohc           21
37   mitsubishi        sedan   172.4         ohc           25
40       nissan        sedan   165.3         ohc           31
54   volkswagen        sedan   171.7         ohc           37
25       jaguar        sedan   191.7        ohcv           13

d:\Python Projects\stratify\main.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stratified_df.drop('rolling', axis = 1, inplace = True)